appnope==0.1.0
backcall==0.1.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
idna==2.9
ipython==7.13.0
ipython-genutils==0.2.0
jedi==0.16.0
kiwisolver==1.1.0
matplotlib==3.4.1
networkx==2.4
numpy==1.20.2
opencv-python==4.5.1.48
pandas==1.2.4
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
prettytable==0.7.2
prompt-toolkit==3.0.4
ptyprocess==0.6.0
Pygments==2.8.1
pyparsing==2.4.7
pytesseract==0.3.7
python-dateutil==2.8.1
pytz==2021.1
scipy==1.6.2
six==1.15.0
soupsieve==2.2.1
traitlets==5.0.5
wcwidth==0.2.5
